@font-face {
  font-family: 'Kommuna';
  src: url('./fonts/KommunaNormal1.10.woff') format('woff'),
       url('./fonts/KommunaNormal1.10.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaBold';
  src: url('./fonts/KommunaNormalBold1.10.woff') format('woff'),
       url('./fonts/KommunaNormalBold1.10.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kommuna';
  src: url('./fonts/KommunaNormalBlack1.10.woff') format('woff'),
       url('./fonts/KommunaNormalBlack1.10.otf') format('opentype');
  font-weight: 900; /* 900 je uobičajena vrednost za 'black' težinu */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaNarrow';
  src: url('./fonts/KommunaNarrow1.10.woff') format('woff'),
       url('./fonts/KommunaNarrow1.10.otf') format('opentype');
  font-weight: 900; /* 900 je uobičajena vrednost za 'black' težinu */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaUltraNarrow';
  src: url('./fonts/KommunaUltraNarrow1.10.woff') format('woff'),
       url('./fonts/KommunaUltraNarrow1.10.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('./fonts/GramatikaRegular1.00.woff') format('woff'),
       url('./fonts/GramatikaRegular1.00.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('./fonts/GramatikaBold1.00.woff') format('woff'),
       url('./fonts/GramatikaBold1.00.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;}

  @font-face {
    font-family: 'GramatikaShifted';
    src: url('./fonts/GramatikaShifted1.00.woff') format('woff'),
         url('./fonts/GramatikaShifted1.00.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'GramatikaBoldShifted';
    src: url('./fonts/GramatikaBoldShifted1.00.woff') format('woff'),
         url('./fonts/GramatikaBoldShifted1.00.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

html {
  font-size: 150%;
  line-height: 1.5;
  background: #ffffff;
  color: #1a1a1a;
 

}


h1 {
  font-family: 'GramatikaBoldShifted', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

figcaption {
  font-size: 0.8rem;
  font-weight: 400;
}

/* Basic/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



.home {
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Osigurava da imamo 2 kolone */
  min-height: 100vh;
}


.section1 {
  background-color: blue;
}

.section2 {
  
  padding: 2rem;
  height: auto; /* Visina će zavisiti od sadržaja */
  z-index: 999; /* Ispod .section1 */
}


/*SECTION1///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.section1 {
  background-color: #666666;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  position: sticky;
  top: 0; /* Fiksiraj sekciju na vrhu ekrana dok skroluješ */
  z-index: 1000; /* U prvom planu */
}

.s1_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Gura sadržaj ka dnu */
  
  max-width: 340px;
  height: 100%; /* Potrebno da se flexbox prostire na punu visinu */
  margin: auto;
  font-family: 'Gramatika';
  color: #ffFFFF;
  
}








.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 340px;
  margin: auto;
  color: white;
  font-family: 'Gramatika', sans-serif;
}

.contact-form label {
  font-size: 16px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  width: 100%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact-form button {
  cursor: pointer;
  border: 1px solid white;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.contact-form button:hover {
  background: black;
  color: white;
}


.contact_futer {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  text-align: center;
  gap: 1rem;
}

.contact_futer a {
  text-decoration: none; /* Uklanja podvlačenje linka */
  color: inherit; /* Nasleđuje boju teksta iz roditeljskog elementa */
  transition: color 0.3s ease; /* Lagana promena boje pri hoveru */
  font-family: 'KommunaNarrow';
  
  color: white;
}

.contact_futer a:hover {
  text-decoration:underline;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #45a049;
}



.s1_3 {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  text-align: center;
  gap: 1rem;
}

.s1_3 a {
  text-decoration: none; /* Uklanja podvlačenje linka */
  color: inherit; /* Nasleđuje boju teksta iz roditeljskog elementa */
  transition: color 0.3s ease; /* Lagana promena boje pri hoveru */
  font-family: 'KommunaNarrow';
  
  color: white;
}

.s1_3 a:hover {
  text-decoration:underline;
}




.s2_1 {
  display: flex;
  justify-content: space-between; /* Maksimalno razdvaja "language" i "shop" */
  align-items: center; /* Poravnava elemente po visini */
  width: 100%;
  flex-wrap: wrap; /* Sprečava lomljenje elemenata na manjim ekranima */
}

.language {
  display: flex;
  gap: 1rem; /* Razmak između dugmića */
  flex: 1; /* Širi se da bi "shop" bio maksimalno udaljen */
}

.shop {
  display: flex;
  justify-content: flex-end; /* Postavlja "Shop" dugme na desni kraj */
  flex: 1; /* Obezbeđuje pravilan raspored */
}

/* Popravka za dugmad */
.language button,
.shop1 {
  font-family: 'GramatikaBold', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.language button:hover,
.shop1:hover {
  color: black;
}



.s2_2 p {
  font-family: 'KommunaBold', sans-serif;
  
  font-size: 1rem;
  padding: 1rem 0;

}

.s2_3 {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
}

.s2_3 img {
  display: block;
  height: auto;
  width: 100%;
  max-height: 80dvh;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.s2_3 p {
  padding-bottom: 1rem;
  grid-column: span 3; /* ako tekst ide ispod cele galerije */
}


.manifest p{
  font-family: 'KommunaUltraNarrow';
  font-size: 2.5rem;
  color: #cc0000;
}




.highlight {
  color: #cc0000;
  text-decoration: underline;
 }

 /*/POSTERI//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/







 

/*/MEDIA//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1600px) {
  html {
    font-size: 140%;
  }

}

@media screen and (min-width: 1280px) {
  .drugi span {
    transition: font-family 0.5s ease-in-out;
  }

  
}



@media screen and (max-width: 1280px) {
  html {
    font-size: 130%;
  }

  .home {
    grid-template-columns: 1fr;
    
  }

  .section2 {
    order: -1; 
    padding: 1rem;
  }


}


@media screen and (max-width: 1024px) {
  html {
    font-size: 120%;
  }
  
  .language button:hover,
  .shop1:hover {
    color: white;
  }

  .posteri {
    grid-template-columns: repeat(2, 1fr); /* Dve kolone za srednje ekrane */
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 110%;
  }

    .s2_3 {
    grid-template-columns: 1fr;
    gap: 2rem; /* možeš i da smanjiš razmak za mobilni */
  }

  .s2_3 img {
    display: block;
    margin: 0 auto;
    width: 90dvw;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  

  
}

@media screen and (max-width: 640px) {
  html {
    font-size: 100%;
  }
}








